<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Animal</title>
</head>
<body>
    <form method="post" th:action="@{/animais-form(clientId=${param.clientId})}">

        Nome: <input th:field="${animal.nome}"> <br>
        Nascimento: <input name="dataNascimento"
                           th:field="${animal.dataNascimento}" type="date"> <br>

        <input name="clientId" th:value="${param.clientId}" type="hidden">

        Espécie:
        <select name="especie">

            <option th:each="especie : ${especies}"
                    th:value="${especie}"
                    th:text="${especie}"></option>

        </select>

        <input type="submit" value="Adiciona Animal">

    </form>

    <label th:text="${erro}" style="color: red"/>

</body>
</html>